﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Hello! testing! from jenkins 2 october RND testing webhook !! test trigger gitlab dari rnd 10 oct
</body>
</html>
